@mixin tablet { 
    @media screen and (min-width: 600px) {@content; }}

@mixin desktop { 
    @media screen and (min-width:1000px) {@content; }}


body {
    text-align: center;
    color:whitesmoke;
    background-color: #13293D;
}


.header{
    background-color: #13293D;
    height: 100vh;

}

.header__wrapper {
    display:grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
    
}

.header__menu{
    grid-column: 2 /3;
    grid-row: 1 / 2;
    display:flex;
    justify-content:right;

    @include tablet{ 
    grid-column: 1/-1;
    grid-row: 1 /2;
    display:block;
    
   }

}

.header__menu-bars{
    margin-top: 40px;
    
}


.bar { 
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 35px;
    height: 5px; 
    background-color: whitesmoke;
    border-radius: 10%;
     
 
     @include tablet {
         display:none;
     }}
 
     .bar:nth-child(2) {
         margin-top:10px;
         margin-bottom:10px;
     }
 
     .bar.one {
         margin-top: -5px;
         transform:rotate(45deg);
         transition: transform 0.4s ease-in-out;
     }
     
     .bar.two {
         display:none;
     }
     
     .bar.three {
         margin-top: -5px;
         transform:rotate(-45deg);
         transition: transform 0.4s ease-in-out;
     }



.header__menu-list {
    display:none;
    @include tablet{ 
    display:flex;
    justify-content: space-evenly;
    padding-left:0;
    max-width: 1200px;
}
    
}

.menu__link{
    text-decoration: none;
    color:whitesmoke;
    border-bottom: 5px solid #F0F465;
    font-weight: bold;
}

.menu__item {
    list-style: none;
}


.header__socials{
    @include tablet {
        grid-column: 3/4;
        grid-row: 3/4;
    }

}
     
      


.header__heading{
    grid-column: 2/3;
    grid-row:2/3;
    display:flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
  position:relative;
  font-size: 1rem;
  z-index: 1000;
  @include desktop {
    font-size: 2rem;
  }
}

.header__heading-h1-subheading{
  font-weight: 300;
  font-style: italic;
}

.header__heading-arrow{
    width:40px;
}


.header__img img{
    position:absolute;
    width:30%;
}

.header__img-1{
    top: 10%;
    left: 60%;
    animation-name: inkdrops;
    animation-duration:  5s;
    animation-iteration-count:  1;
}

.header__img-2{
    right: 60%;
    top: 60%;
    animation-name: inkdrops;
    animation-duration:  5s;
    animation-iteration-count:  1;
    animation-fill-mode:backwards ;
    animation-delay: 2s;
}

@keyframes inkdrops {
    0% {
        opacity:0;
    }

    100%{
        opacity:1;
    }
}


